<html lang="ko">

{% load static %}
<head>
    <title>tfjs 사용해보기</title>
    <head><h1>tensorflow.js 로딩아 제발 좀 되어라</h1></head>
    <body>
        <input type = "file" id = "upload-json" />
    </body>
</head>

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
<script type="text/javascript" src={% static "model/model.json" %}?></script>
<script type="module">
   
   const URL =
    'https://tfhub.dev/google/tfjs-model/imagenet/mobilenet_v3_small_100_224/feature_vector/5/default/1';

     mobilenet = await tf.loadGraphModel(URL, {fromTFHub: true});
</script>

