<html lang="ko">

{% load static %}
<html lang="ko">
<head>
    <title>침하하</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href={% static "css/style.css" %} rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo.png' %}"

    <script type="text/javascript" src={% static "js/cufon-yui.js" %}></script>
    <script type="text/javascript" src={% static "js/arial.js" %}></script>
    <script type="text/javascript" src={% static "js/cuf_run.js" %}></script>
    
</head>